{% extends "base_generic.html" %}

{% block title%} <title>Routes | Fast Routing</title>{% endblock %}

{% block content %}
<h3>Assigned Routes</h3>

<div class="container p-4">


<!--  <div class="row align-items-center justify-content-center">-->
<!--    <p style="font-size:18px">View existing routes to get started. You can also create new routes.</p>-->
<!--  </div>-->

<!--  <br/>-->

{% if routes_assigned %}
  {% for driver, path in routes_assigned %}
    <div class="m-2">
      <div class="mb-2">
        <strong>{{ driver }}</strong>
      </div>
      <ol>
        {% for route in path %}
        <li class="ml-5 mb-2">
          {{ route }}
        </li>
        {% endfor %}
      </ol>
    </div>
  {% endfor %}
{% else %}
  <div class="row align-items-center justify-content-center">
    <p style="font-size:18px">No route has been assigned.</p>
  </div>

  <br/>

  <div class="d-flex align-items-center justify-content-center">
    <a href="{% url 'create_routes' %}" role="button" class="btn btn-outline-primary p-2">Home</a>
  </div>
{% endif %}

</div>
{% endblock %}