{% extends "base_generic.html" %}
{% load static %}

{% block title%} <title>Settings | Fast Routing</title>{% endblock %}

{% block content %}
<h3>Settings</h3>

<div class="container">
    <div class="row align-items-center justify-content-center m-4">
        <p class="lead">Add some drivers and addresses to get started.</p>
    </div>
</div>

<br/>

<form method="POST" enctype="multipart/form-data" class="mb-2">
    {% csrf_token %}
    <div class="mt-4 mb-4">
        <div class="form-row">
            <div class="col-md-6 input-group">
                <div class="input-group-prepend mr-4">
                    <span class="input-group-text">Addresses</span>
                </div>
                <div class="custom-file" id="address-file-location">
                    {{ address_file_form }}
                </div>

            </div>

            <div class="col-md-6 input-group">
                <div class="input-group-prepend mr-4">
                    <span class="input-group-text">Drivers</span>
                </div>
                <div class="custom-file" id="driver-file-location">
                    {{ driver_file_form }}
                </div>

            </div>
        </div>


        <div class="form-row mt-2">
            <div class="col-md-6">
                <span>Please upload <strong>xls</strong> or <b>xlsx</b> only.</span>
            </div>
        </div>
    </div>

    <div class="mt-4 mb-4">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="updateDistanceMatrixCheck">
            <label class="form-check-label" for="updateDistanceMatrixCheck">Update distance matrix</label>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center mt-2" id="div-load" >
        <button class="btn btn-outline-success" type="submit" id="btn-load">Upload</button>
    </div>

    <div class="d-flex align-items-center justify-content-center mt-2" id="div-spinner">
        <button class="btn btn-outline-success not-visible" id="btn-spinner" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Uploading...
        </button>
    </div>
</form>

{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}