{% extends "base_generic.html" %}
{% load static %}

{% block title %} <title>Settings | Fast Routing</title>{% endblock %}

{% block css %}
    {{ block.super}}
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
{% endblock %}

{% block content %}
<h3>Settings</h3>

<div class="container">
    <div class="row align-items-center justify-content-center m-4">
        <p class="lead">Add some drivers and addresses to get started.</p>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center mt-2" id="div-spinner">
    <button class="btn btn-outline-success" id="btn-spinner" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Uploading...
    </button>
</div>

<div id="id_update_distance_matrix" class="not-visible">
    {{ update_distance_matrix_field }}
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/settings_loader.js' %}" type="text/javascript"></script>
{% endblock %}